
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 168 100% 11%; /* Cambiado a #003b29 */
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 168 100% 18%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 168 100% 11%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.category-title {
  @apply flex items-center gap-2 font-bold text-xl mb-4 mt-8;
}

.card-item {
  @apply bg-white rounded-lg shadow-md overflow-hidden transition-all hover:shadow-lg;
}

.item-info {
  @apply p-3 flex flex-col justify-between;
}

.quantity-selector {
  @apply flex items-center justify-between gap-3;
}

.quantity-button {
  @apply rounded-full w-8 h-8 flex items-center justify-center text-white font-bold shadow-sm transition-all;
}

.add-button {
  @apply bg-primary hover:bg-accent text-white font-bold py-2 w-full rounded flex items-center justify-center gap-2 mt-2 transition-all;
}
